.about-content {
	padding: 20vh 10vw 15vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#about-text p, #about-card h1, #about-card p {
	color: var(--white);
}

#create {
	display: inline;
	animation: color-change 2.5s linear infinite alternate;
}

#about-card {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 15vh;
	width: 90%;
}

#me {
	width: 30vw;
	max-width: 200px;
	margin-left: 10vw;
}

#about-description {
	display: flex;
	flex-direction: column;
}

#about-description h1 {
	font-size: 48px;
	text-align: left;
}

#about-description p {
	font-size: 20px;
}

#icon-row {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-top: 25px;
	width: 30vw;
	max-width: 200px;
}

#icon-row img {
	width: 40px;
}

#icon-row img:hover {
	transition: 0.2s;
	transform: translateY(-2.5px);
}

@media only screen and (max-width: 650px) {
	#about-card {
		flex-direction: column;
		align-items: center;
		justify-content: center;
		margin-bottom: 10vh;
	}

	#about-description {
		width: 75vw;
		align-items: center;
		text-align: center;
		margin-bottom: 5vh;
	}

	#about-description h1 {
		font-size: 36px;
	}

	#about-description p {
		font-size: 18px;
	}

	#me, #icon-row {
		width: 175px;
		margin-left: 0;
	}

	#icon-row img {
		width: 35px;
	}

	#about-intro {
		width: 100%;
	}
}

@keyframes color-change {
    0% {
      color: #ffd6ff;
    }

	20% {
		color:#e7c6ff;
	}

	40% {
		color: #c8b6ff;
	}

	60% {
		color: #b8c0ff;
	}

	80% {
		color: #bbd0ff;
	}

	100% {
		color: #ffd6ff;
	}
  }
