body {
    margin: 0;
}

#landing-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    height: 100%;
    margin: 0 50px 50px 50px;
}

#logo {
    float: left;
    height: 200px;
}

#logo2 {
    width: 50%;
    min-width: 500px;
    display: block;
}

#logo2_vertical {
    width: 50%;
    min-width: 200px;
    position: absolute;
    display: none;
}

#landing-text {
    color: var(--white);
    text-align: right;
}

#landing-text h1 {
    font-size: 40pt;
    margin-bottom: 28px;
}

#landing-text p {
    font-size: 16pt;
    line-height: 1;
}

.glow:hover {
    text-shadow: 0 0 15px var(--white);
    transition: 0.2s;
}
  
#holographic {
    height: 100vh;
    width: 100vw;
    background-image: linear-gradient(
      to left,
      #483475,
      #2B2F77,
      #141852,
      #090d3f,
      #141852,
      #2B2F77,
      #483475
    );
    background-size: 350%;
}

@media only screen and (max-width: 600px) {
    #landing-container {
        flex-direction: column;
        justify-content: center;
    }

    #logo {
        width: 200px;
        margin-bottom: 5vh;
    }

    #landing-text {
        text-align: center;
    }

    #landing-text h1 {
        font-size: 32pt;
    }

    #landing-text p {
        font-size: 12pt;
    }

    #logo2_vertical {
        display: block;
    }

    #logo2 {
        display: none;
    }
  }
