.header {
	position: relative;
	text-align: left;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 2.5%;
}

.line {
	width: 100%;
	margin-left: 20px;
    color: black;
}
