.about {
	margin-top: 5%;
	display: flex;
	flex-direction: row;
}

.about p {
	padding: 5px 50px 20px 50px;
	text-align: left;
	line-height: 1.4;
	margin: 0;
	min-width: 400px;
}

.about h1 {
	text-align: center;
	white-space: nowrap;
}

.picture {
	position: relative;
	height: 225px;
	width: 225px;
	margin: 0 5% 2.5% 5%;
}

.picture img {
	display: inline;
	height: 200px;
	margin: 0;
	position: absolute;
	top: 12.5px;
	left: 12.5px;
}

.offset {
	height: 200px;
	width: 200px;
	border-style: solid;
	border-width: 2px;
	position: absolute;
	border-color: lightgray;
	z-index: -1;
}

.down {
	margin-top: 25px;
	margin-right: 25px;
}

.up {
	margin-bottom: 25px;
	margin-left: 25px;
}

@media (max-width: 600px) {
	.picture {
		display: none;
	}
	.about p {
		min-width: 0px;
	}
	
}
