.video-container {
    position: relative;
    padding: 0;
}

.video-player {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
}

.video-player:hover {
    cursor: pointer;
}
