#container {
	position: relative;
	background: linear-gradient(#403F44 0px, #403F44 90.99999px, #222027 91px, #222027 100%);
	width: 650px;
	padding: 15px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border-radius: 5px;
}

body {
  background: url("img/desktop.jpg");
  /* Source: Mac desktop images; */
  background-repeat: no-repeat;
  background-size: cover;
}

#heading {
	width: 700px;
	display: flex;
	flex-direction: row;
	align-items: center;
}

.buttons {
	display: flex;
	flex-direction: column;
	width: 70px;
}

#circles {
	width: 65px;
	margin-bottom: 10px;
}


#back {
	width: 65px;
	opacity: 0.7;
}

#back:active {
	opacity: 1;
}

.title {
	display: flex;
	flex-direction: row;
	align-items: center;
	height: 50px;
	transform: translateX(-10px);
}

#folder {
	width: 45px;
	height: 37px;
	margin-right: 15px;
	margin-left: 160px;
}

p {
	font-family: Poppins;
	color: white;
	font-size: 20pt;
	opacity: 70%;
}

#icons {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
	margin-top: 7%;
	margin-bottom: 6%;
	height: 300px;
}


#spotify, #zoom {
	position: relative;
	width: 152px;
}


#spotify:hover, #zoom:hover {
	transform: scale(1.1);
}





