@import url('https://fonts.googleapis.com/css?family=Spartan');
@import url('https://fonts.googleapis.com/css?family=Cabin');

/* OVERALL */

body {
	background-color: #F8F8F7;
	color: #464646;
	font-family: 'Spartan', sans-serif;
	padding: 5%;
	text-align: center;
	height: 100vh;
	min-width: 750px;
}

a, a:hover {
	text-decoration: none;
	color: #464646;
}

p {
	font-size: 12pt;
	margin: 5px;
}

h1 {
	font-size: 28pt;
	font-weight: 800;
	font-family: 'Questrial', sans-serif;
	opacity: 0.9;
}

/* NAVBAR */

nav {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-bottom: 2.5%;
}

.icon {
	width: 30px;
	height: 30px;
	opacity: 75%;
}

.icon:hover {
	opacity: 30%;
}

.right {
	margin-left: 30px;
}

.left {
	margin-right: 30px;
}

.center {
	text-align: center !important;
	padding-bottom: 2.5% !important;
}

.fade-in {
	animation-name: fade-in;
	animation-duration: 2s;
}

@keyframes fade-in {
	0% {
		opacity: 0;
	} 100% {
		opacity: 1;
	}
}
