#applications-content-body {
  background: url("img/desktop.jpg");
  /* Source: Mac desktop images; */
  background-repeat: no-repeat;
  background-size: cover;
	position: absolute;
	height: 100%;
	width: 100%;
}

#applications-container {
	position: relative;
	background: linear-gradient(#403F44 0px, #403F44 90.99999px, #222027 91px, #222027 100%);
	width: 650px;
	padding: 15px;
	border-radius: 5px;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}


#mac-heading {
	width: 650px;
	display: flex;
	flex-direction: row;
	align-items: center;
}

.mac-buttons {
	display: flex;
	flex-direction: column;
	width: fit-content;
	height: 50%;
}

#mac-circles {
	width: 65px;
	margin-bottom: 0px;
	margin-top: 0px;
}

#applications-back {
	margin-top: 5px;
	width: 65px;
	opacity: 0.7;
}

#applications-back:active {
	opacity: 1;
}

.mac-title {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	height: 75px;
	transform: translate(-25px, -5px);
	width: 100%;
}

#mac-folder {
	width: 45px;
	height: 37px;
}

#applications-content-body p {
	font-family: Poppins;
	color: white;
	font-size: 20pt;
	opacity: 70%;
	margin-top: 20px;
	margin-left: 20px;
}

#icons {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
	margin-top: 7%;
	margin-bottom: 6%;
	height: 300px;
}


#spotify, #zoom {
	position: relative;
	width: 152px;
}


#spotify:hover, #zoom:hover {
	transform: scale(1.1);
}
