/* TEXT */

#spotify-content-body a {
	font-family: Montserrat;
	font-size: 15pt;
	text-decoration: none;
	color: white;
}

#spotify-content-body li {
	font-family: Poppins;
	font-size: 14pt;
	text-decoration: none;
	color: white;
}

#spotify-content-body h1 {
	font-family: Montserrat;
	font-size: 32pt;
	color: white;
	margin-bottom: 15px;
}

#spotify-content-body p {
	font-family: Poppins;
	font-size: 11pt;
	color: #A7A5A5;
	margin: 3px;
}

#spotify-name {
	color: white;
	font-family: Poppins;
	font-size: 11pt;
	margin: 3px;
}

#spotify-content-body h2 {
	font-family: Poppins;
	font-size: 12pt;
	color: white;

}

/* BUTTONS */
#spotify-content-body a:hover {
	color: #5DCC61;
	cursor: pointer;
}


#spotbutt {
	width: 120px;
	position: relative;
}

#spotbutt:hover {
	transform: scale(1.1);
}

/* POSITIONING */
#spotify-content-body {
	background: linear-gradient(#9060A6 40%, #BC96E6 100%);
	padding-top: 5%;
	padding-bottom: 5%;
}

#spotify-container {
	position: relative;
	background: linear-gradient(#4C4C4C 0%, #272626 20%, #1F1F1F 100%);
	width: 700px;
	padding: 55px;
	padding-bottom: 7%;
	margin-top: 72px;
	margin-bottom: 72px;
	margin-left: auto;
	margin-right: auto;
}

#spotify-title {
	position: relative;
	margin-top: 50px;
	display: flex;
	flex-direction: row;
	align-items: flex-end;
	margin-left: 15px;
}

#spotify-content-body img {
	width: 200px;
}

#quarantunes {
	margin-left: 25px;
	position: relative;
}

#spotify-description {
	display: flex;
	flex-direction: row;
	margin-bottom: 15px;
}

#spotify-content {
	width: 600px;
	margin-top: 50px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-left: auto;
	margin-right: auto;
}

#spotify-content-body ul {
	list-style-type: none;
	line-height: 40px;
	padding-left: 0;
}

.artists {
	text-align: right;
}