
.video-container {
    position: relative;
    padding: 0;
}

.video-player {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
}

.video-player:hover {
    cursor: pointer;
}

#video {
    margin: 0;
    padding: 0;
    
}

#play-button {
    position: absolute;
    height: 75px;
    z-index: 1;
}

#play-button:hover {
    opacity: 50%;
    cursor: pointer;
}
